hr {
	clear: both;
	margin: 15px 0;	
}

#container {
	width: 600px;
	margin: 15px auto;
}

#image {
	position: relative;
	margin-bottom: 5px;
	overflow: hidden;	
}

#image.loading {
	background: transparent url('../images/ajax-loader.gif') no-repeat center center;	
}

#image a.nav {
	display: none;
	position: absolute;	
	height: 100%;
	width: 50%;
	z-index: 10;
}

#image a.nav.active {
	display: block;	
}

#image a.nav.previous {
	left: 0;
}

#image a.nav.previous:hover {
	background: transparent url('../images/button-previous.png') no-repeat left center;
}

#image a.nav.next {
	right: 0;
}

#image a.nav.next:hover {
	background: transparent url('../images/button-next.png') no-repeat right center;
}
 
#caption {
	height: 25px;
	padding: 5px 10px;
	margin-bottom: 5px;
	background-color: #000;
	color: #fff;
	font-size: 1.5em;
	font-family: georgia, serif;
	font-style: italic;
}

.thumbs li {
	float: left;
	margin: 0 5px 5px 0;
}